/* --------------------------------------------------------- */
/* RESPONSIVE 1920PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1920px) {
  #header {
    height: 130px;
  }
  .cyrcled-logo {
    width: 160px;
    margin-left: 85px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 610px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 155px;
    margin-left: 80px;
  }
  .encab-somosInput {
    gap: 215px;
    align-items: flex-start;
  }
  .encab-somos a {
    padding-left: 25px;
    position: absolute;
    font-size: 20px;
    padding-top: 10px;
  }
  .nav-icons {
    gap: 35px;
    padding: inherit;
    margin-right: 100px;
  }
  .nav-icons a {
    font-size: 30px;
  }
  .menu-encab {
    margin-top: 0px;
    gap: 100px;
    padding: 20px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 18px;
  }

  /* MODAL SUSCRIPCION */
  .contenido {
    width: 30%;
    height: 65%;
    right: 655px;
    top: 150px;
  }
  .contenido h2 {
    padding-top: 50px;
  }
  .contenido h4 {
    padding-top: 30px;
  }
  .email-newslet {
    margin-left: 65px;
  }
  .accept-newslet {
    width: 60%;
  }
  .newslet-politica {
    font-size: 13px;
    padding-top: 15px;
  }
  .newslet-politica-btn button {
    font-size: 15px;
    padding-top: 65px;
  }
  #cerrar + label {
    right: 655px;
    top: 160px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1919PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1919px) {
  .contenido {
    width: 30%;
    height: 65%;
    right: 655px;
    top: 150px;
  }
  .contenido h2 {
    padding-top: 50px;
  }
  .contenido h4 {
    padding-top: 30px;
  }
  .email-newslet {
    margin-left: 65px;
  }
  .accept-newslet {
    width: 60%;
  }
  .newslet-politica {
    font-size: 13px;
    padding-top: 15px;
  }
  .newslet-politica-btn button {
    font-size: 15px;
    padding-top: 65px;
  }
  #cerrar + label {
    right: 655px;
    top: 160px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1760PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1760) {
  #cerrar + label {
    right: 615px;
    top: 160px;
  }
  .contenido {
    width: 30%;
    height: 65%;
    right: 620px;
    top: 155px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1650PX */
/* --------------------------------------------------------- */
@media screen and (max-width: 1650px) {
  #header {
    height: 115px;
  }
  .cyrcled-logo {
    width: 160px;
    margin-left: 85px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 610px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 155px;
    margin-left: 80px;
  }
  .encab-somosInput {
    gap: 150px;
    align-items: flex-start;
  }
  .encab-somos a {
    padding-left: 45px;
    position: absolute;
    font-size: 18px;
    padding-top: 9px;
  }
  .nav-icons {
    gap: 35px;
    padding: inherit;
    margin-right: 100px;
  }
  .nav-icons a {
    font-size: 30px;
  }
  .menu-encab {
    margin-top: -5px;
    gap: 95px;
    padding: 15px;
    position: relative;
    z-index: 1;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 16px;
  }
  /* SUSCRIBETE */
  .contenido {
    width: 30%;
    height: 65%;
    right: 580px;
    top: 150px;
  }
  #cerrar + label {
    right: 580px;
  }
  .contenido h2 {
    padding-top: 50px;
  }
  .contenido h4 {
    padding-top: 30px;
  }
  .email-newslet {
    margin-left: 65px;
  }
  .accept-newslet {
    width: 60%;
  }
  .newslet-politica {
    font-size: 13px;
    padding-top: 15px;
  }
  .newslet-politica-btn button {
    font-size: 15px;
    padding-top: 65px;
  }
  #cerrar + label {
    right: 655px;
    top: 160px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1510PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1510) {
  .contenido {
    right: 535px;
  }
  #cerrar + label {
    right: 430px;
    top: 115px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1400PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1400px) {
  .email-newslet {
    margin-top: 45px;
    margin-left: 55px;
  }
  .contenido {
    right: 500px;
  }
  #cerrar + label {
    right: 495px;
  }
  .newslet-politica-btn button {
    padding-top: 35px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1366PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1366px) {
  .contenido {
    right: 405px;
    top: 155px;
  }
  #cerrar + label {
    right: 395px;
    top: 155px;
  }
  .newslet-politica {
    color: #606a72;
    font-size: 11px;
  }
  .newslet-politica-btn button {
    font-size: 13px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1355PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1355px) {
  .email-newslet {
    margin-left: 37px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1330PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1330px) {
  #header {
    height: 120px;
  }
  .cyrcled-logo {
    width: 145px;
    margin-left: 110px;
  }
  .nav-icons {
    gap: 30px;
    padding: inherit;
    margin-right: 115px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1315PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1315px) {
  input#autocomplete-input {
    width: 535px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1241PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1241px) {
  .contenido {
    right: 435px;
  }
  #cerrar + label {
    right: 429px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1240PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1240px) {
  input#autocomplete-input {
    width: 505px;
  }
  .menu-encab li {
    font-size: 16px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1205PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1205px) {
  .cyrcled-logo {
    margin-left: 5px;
  }
  .encab-somosInput {
    gap: 55px;
  }
  input#autocomplete-input {
    width: 450px;
  }
  .encab-somos a {
    padding-left: 8px;
    font-size: 16px;
    padding-top: 10px;
  }
  .nav-icons {
    margin-right: 75px;
  }
  .nav-icons a {
    font-size: 27px;
  }
  input.src {
    margin-right: 80px;
    margin-left: 100px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1181PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1181px) {
  input#autocomplete-input {
    width: 275px;
  }
  .encab-somosInput {
    gap: 75px;
  }
  .encab-somos a {
    padding-left: 0px;
  }
  .cyrcled-logo {
    margin-left: 0px;
  }
  .encab-somos {
    margin-right: 30px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1167PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1167px) {
  .contenido {
    right: 385px;
    width: 35%;
  }
  #cerrar + label {
    right: 380px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1080PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1080px) {
  .menu-encab {
    gap: 70px;
    padding: 20px;
  }
  .menu-encab li {
    font-size: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1040PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1040px) {
  .contenido {
    right: 345px;
    height: 65%;
  }
  .contenido h2 {
    font-size: 32px;
  }
  #cerrar + label {
    right: 332px;
  }
  .menu-encab {
    gap: 80px;
  }
  .menu-encab li {
    font-size: 14px;
  }
  .email-newslet {
    margin-left: 20px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1008PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1008px) {
  .accept-newslet input {
    font-size: 18px;
    height: 45px;
  }
  .email-newslet {
    margin-left: 11px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 986PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 986px) {
  #cerrar + label {
    right: 312px;
  }
  .contenido {
    right: 320px;
  }
  .email-newslet {
    margin-left: 23px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 980PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 980px) {
  .encab-somos {
    margin-right: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 960PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 960px) {
  .menu-encab {
    gap: 70px;
    padding: 17px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 950PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 950px) {
  .encab-somos {
    margin-right: 0px;
  }
  .encab-somos a {
    padding-left: 0px;
    font-size: 14px;
    padding-top: 13px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 930PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 930px) {
  .cyrcled-logo {
    margin-left: 30px;
  }
  .encab-somos a {
    padding-left: 25px;
  }
  .contenido {
    width: 38%;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 915PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 915px) {
  .cyrcled-logo {
    margin-left: 50px;
  }
  input#autocomplete-input {
    width: 285px;
  }
  input.src {
    margin-right: 75px;
  }
  .menu-encab {
    gap: 40px;
  }
  .contenido {
    right: 315px;
  }
  #cerrar + label {
    right: 302px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 870PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 870px) {
  .encab-somosInput {
    gap: 30px;
  }
  .menu-encab {
    gap: 30px;
  }
  .cyrcled-logo {
    width: 140px;
  }
  input.src {
    margin-right: 45px;
  }
  .encab-somos a {
    padding-left: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 834PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 834px) {
  #cerrar + label {
    right: 265px;
  }
  .contenido {
    height: 64%;
    width: 43%;
    right: 275px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 815PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 815px) {
  .contenido {
    width: 40%;
    right: 250px;
  }
  #cerrar + label {
    right: 240px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 795PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 795px) {
  .suscribete {
    font-size: 0.8rem;
  }
  .menu-encab {
    gap: 20px;
  }
  input.src {
    margin-right: 30px;
  }
  .encab-somosInput {
    gap: 20px;
  }
  .encab-somos a {
    font-size: 14px;
    padding-left: 9px;
  }
  .nav-icons {
    gap: 22px;
    margin-right: 55px;
  }
  .nav-icons a {
    font-size: 24px;
  }
  .contenido {
    right: 270px;
  }
  #cerrar + label {
    right: 256px;
  }
  .contenido h2 {
    font-size: 24px;
  }
  .contenido h4 {
    font-size: 15px;
  }
  input#email-newslet {
    font-size: 14px;
    height: 40px;
  }
  .accept-newslet input {
    font-size: 16px;
    height: 40px;
  }
  input#autocomplete-input {
    width: 265px;
    height: 27px;
  }
  .encab-somos a {
    padding-top: 8px;
  }
  .cyrcled-logo {
    margin-left: 40px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 775PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 775px) {
  .cyrcled-logo {
    margin-left: -30px;
    width: 130px;
  }
  .encab-somosInput {
    gap: 40px;
  }
  input#autocomplete-input {
    width: 175px;
    height: 30px;
  }
  .menu-encab li {
    font-size: 13px;
  }
  input.src {
    margin-right: 20px;
  }
  .encab-somos a {
    padding-left: 0px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 750PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 750px) {
  .contenido {
    height: 58%;
    top: 200px;
    right: 230px;
  }
  #cerrar + label {
    right: 220px;
    top: 200px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 725PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 725px) {
  .cyrcled-logo {
    margin-left: -10px;
  }
  #autocomplete-input {
    font-size: 14px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 700PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 700px) {
  .btn-whatsApp {
    width: 45px;
    height: 45px;
    line-height: 50px;
    font-size: 32px;
  }
  .flecha-arriba {
    width: 40px;
    height: 40px;
  }
  #header {
    height: 105px;
  }
  .encabezado {
    margin-top: 7px;
  }
  .menu-encab-completo nav {
    position: fixed;
    top: 0;
    left: -375px;
    /* background: white; */
    background: var(--white);
    width: 375px;
    height: 100vh;
    padding: 25px;
    z-index: 2;
    transition: all 300ms;
  }
  .menu-encab-completo ul {
    flex-direction: column;
    /* margin-top: 40px; */
  }
  .menu-encab {
    /* background-color: var(--white); */
    background: var(--white);
    padding: 0px;
    gap: 0px;
    align-items: normal;
    justify-content: normal;
  }
  .menu-encab-completo ul li {
    /*  margin-top: 10px;
      margin-left: -55px; */
    border-bottom: 1px solid var(--black);
    padding: 4px 16px;
    line-height: 15px;
    width: 85%;
    flex: auto;
  }
  .menu-encab-completo ul li a {
    /* color: #bebebe; */
    color: var(--black);
  }
  .menu-encab li a:hover,
  .menu-encab li a:focus {
    background-size: 0% 0px;
  }

  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
  }

  .encabezado #btn_menu {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
    /* margin-left: 50px; */
    align-items: center;
  }
  .encabezado #btn_menu:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .menu-text {
    display: block;
    letter-spacing: 1.08px;
    /* color: #1a051d; */
    color: var(--cyrcled);
    padding-right: 0px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: 22px;
    right: 67px;
  }

  /* MENU ENCABEZADO DESPLEGABLE */
  .container_menu-item {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .menu-item-product {
    display: flex;
    letter-spacing: 1px;
    width: 50%;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
    font-size: 12px;
  }
  .menu-item-product img {
    display: block;
    border-radius: 50%;
    max-width: 35px;
    height: 35px;
    margin-right: 20px;
  }
  .menu-item-next {
    background-image: url(/assets/img/svg/icon-next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 16px;
    display: block;
    margin-left: 95px;
  }

  .cyrcled-logo {
    width: 110px;
    margin-left: -60px;
    margin-top: 7px;
  }
  .cyrcled-logo-menu {
    display: block;
    width: 110px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  input.src {
    font-size: 13px;
    margin-right: 10px;
  }
  input#autocomplete-input {
    height: 30px;
  }
  .nav-icons {
    gap: 20px;
    margin-right: 30px;
  }

  .encab-somos {
    margin-bottom: 37px;
  }
  .menu-encab-completo nav a .cyrcled-logo {
    display: block;
    width: 90px;
  }
  .encab-somos a {
    padding-top: 11px;
  }
  .encab-somosInput {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  /* -------------------------------- style-cart ----------------*/

  .login-register {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 102%;
    background: var(--cyrcled);
    height: 80px;
    color: var(--white);
    padding: 15px;
    text-align: center;
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  .login-register a {
    float: none;
    border: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
  }
  .btnseparate {
    height: 29px;
    width: 1px;
    margin: 0 10px;
    opacity: 0.15;
    border: 1px solid var(--white);
    display: inline-block;
    position: relative;
    top: 0;
  }
  .login-register .btn {
    font-size: 14px;
  }
  .btn-primary {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
  }
  .btn-primary {
    color: var(--white);
    background-color: var(--cyrcled);
    border-color: var(--cyrcled);
  }
  .btn {
    display: inline-block;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 24px 6px 25px;
  }

  /* 
   .login-register {
    display: flex;
    position: relative;
    bottom: -33vh;
    background: var(--cyrcled);
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
    width: 375px;
    right: 25px;
    font-size: 15px;
  }
  .login-register a {
    color: var(--white) !important;
    font-weight: 700;
    letter-spacing: 3px;
  } */
  .fin-encab-menu {
    height: 50%;
  }
  .login-register-bottom {
    border-bottom: none !important;
  }
  .login-register-bottom a {
    padding-left: 15px;
  }
  .contenido {
    right: 194px;
    height: 54%;
    width: 45%;
  }
  .accept-newslet input {
    margin-top: 10px;
  }
  .contenido h2 {
    padding-top: 35px;
    font-size: 25px;
  }
  #cerrar + label {
    right: 185px;
    font-size: 16px;
  }
  .contenido h4 {
    font-size: 15px;
  }
  .newslet-politica {
    font-size: 12px;
  }
  input#email-newslet {
    font-size: 12px;
    height: 38px;
  }

  .newslet-politica-btn button {
    font-size: 13px;
    padding-top: 28px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 42px;
    width: 78%;
    margin: 18px 0;
    margin-left: 30px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 694PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 694px) {
  .menu-text {
    right: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 675PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 675px) {
  .menu-text {
    right: 60px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 655PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 655px) {
  .encab-somos a {
    padding-left: 7px;
    font-size: 13px;
  }
  .menu-text {
    right: 57px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 645PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 645px) {
  /*  .suscribete {
    font-size: 0.875rem;
  } */
  .encabezado {
    margin-left: 7px;
  }
  .encabezado #btn_menu {
    justify-content: space-between;
  }
  .menu-text {
    right: 64px;
  }

  .menu-encab-completo nav {
    left: -363px;
    width: 353px;
  }
  .cyrcled-logo {
    margin-left: -55px;
  }

  /* MENU DESPLEGABLE */
  .cyrcled-logo-menu {
    width: 100px;
    padding-bottom: 10px;
  }
  .menu-encab-completo ul li {
    padding: 0px 0px;
    width: 85%;
  }
  .menu-item-next {
    margin-left: 100px;
  }
  /* .login-register {
    width: 335px;
    font-size: 12px;
    bottom: -36vh;
  }

  .login-register-bottom a {
    padding-left: 30px;
    font-size: 13px;
  } */
  .accept-newslet input {
    font-size: 12px;
    height: 40px;
    width: 78%;
    margin: 0 auto;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 635PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 635px) {
  .menu-text {
    right: 61px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 626PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 626px) {
  /* ENCABEZADO */
  /* #header {
    height: 95px;
  }
  .suscribete {
    font-size: 0.65rem;
  } */
  .menu-text {
    right: 64px;
  }
  .encab-somosInput {
    gap: 20px;
  }
  .encab-somos a {
    font-size: 12px;
  }
  input#autocomplete-input {
    width: 155px;
  }
  #autocomplete-input {
    font-size: 13px;
  }
  .nav-icons {
    gap: 20px;
  }
  /* .nav-icons a {
    font-size: 20px;
  } */
}

/* --------------------------------------------------------- */
/* RESPONSIVE 606PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 606px) {
  .menu-text {
    right: 61px;
  }
  .encabezado #btn_menu {
    margin-left: 5px;
  }
  .menu-encab-completo nav {
    width: 315px;
  }
  .login-register {
    width: 325px;
  }
  .login-register .btn {
    font-size: 12px;
  }
  .btn {
    padding: 6px 20px 6px 21px;
  }
  .menu-item-next {
    margin-left: 80px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 600PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 600px) {
  input.src {
    margin-right: 30px;
  }
  .encab-somos a {
    padding-left: 16px;
  }
  .encabezado #btn_menu {
    margin-left: 3px;
  }
  .cyrcled-logo {
    margin-left: -30px;
  }
  .menu-text {
    right: 30px;
    font-size: 12px;
  }
  .encabezado #btn_menu {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 26px;
  }
  .contenido {
    right: 152px;
    width: 50%;
  }
  #cerrar + label {
    right: 140px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 595PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 595px) {
  .cyrcled-logo {
    margin-left: -15px;
  }
  .encabezado #btn_menu {
    margin-left: 25px;
  }
  .menu-text {
    right: 28px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 584PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 584px) {
  .nav-icons {
    gap: 20px;
    margin-right: 50px;
  }
  .encab-somosInput {
    gap: 0px;
  }
  .encab-somos a {
    padding-left: 8px;
  }
  .encabezado #btn_menu {
    margin-left: 35px;
  }
  .menu-text {
    right: 29px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 575PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 575px) {
  .nombre-tienda {
    position: absolute;
    margin-right: 270px;
    padding-bottom: 10px;
  }
  .encab-somos a {
    padding-left: 0px;
    position: absolute;
    margin-top: 22px;
    margin-left: -9px;
  }
  .encabezado #btn_menu {
    margin-left: 20px;
  }
  .menu-text {
    right: 45px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 560PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 560px) {
  .suscribete {
    font-size: 0.85rem;
  }
  /* ENCABEZADO */
  .encab-somosInput {
    gap: 10px;
  }
  .cyrcled-logo {
    width: 100px;
    margin-left: 0px;
  }
  .nav-icons {
    gap: 12px;
    margin-right: 25px;
  }
  .encab-somos a {
    margin-left: -15px;
  }
  .menu-text {
    right: 53px;
  }
  .encabezado #btn_menu {
    margin-left: 10px;
  }
  input.src {
    margin-right: 25px;
  }
  /* .menu-item-product {
    font-size: 13px;
  } */
  .menu-encab-completo nav {
    width: 300px;
  }
  .menu-item-next {
    margin-left: 100px;
  }
  .menu-item-product img {
    margin-right: 15px;
  }
  .login-register {
    width: 310px;
  }
  .login-register a {
    letter-spacing: 2px;
  }
  .btn {
    padding: 6px 18px 6px 19px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 550PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 550px) {
  .suscribete {
    font-size: 0.8rem;
    letter-spacing: 1.8px;
  }
  .encab-somos a {
    margin-left: -10px;
  }
  .menu-text {
    right: 49px;
  }
  .nav-icons {
    gap: 20px;
    margin-right: 15px;
  }

  .newslet-politica {
    font-size: 11px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 540PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 540px) {
  .encab-somos a {
    margin-left: -7px;
  }
  .menu-text {
    right: 46px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 530PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 530px) {
  .menu-text {
    right: 42px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 515PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 515px) {
  /* ENCABEZADO */
  .encab-somos a {
    font-size: 11px;
    padding-left: 0px;
    margin-left: -4px;
  }
  input#autocomplete-input {
    height: 25px;
  }
  .nav-icons a {
    font-size: 22px;
  }
  .encabezado #btn_menu {
    font-size: 27px;
  }

  /* MENU DESPLEGABLE */

  .menu-encab-completo nav {
    width: 285px;
  }
  .login-register {
    width: 292px;
  }
  .login-register-bottom a {
    padding-left: 23px;
  }
  .btn {
    padding: 6px 12px 6px 13px;
  }

  /* SUSCRIBETE */
  .contenido {
    right: 115px;
    width: 55%;
  }
  #cerrar + label {
    right: 100px;
  }
  .accept-newslet input {
    margin-left: 24px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 510PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 510px) {
  .suscribete {
    letter-spacing: 1px;
  }
  .menu-text {
    right: 39px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 500PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 500px) {
  .btn-whatsApp {
    width: 40px;
    height: 40px;
    line-height: 44px;
    font-size: 30px;
  }
  .flecha-arriba {
    width: 35px;
    height: 35px;
    right: 20px;
  }
  .suscribete {
    font-size: 0.7rem;
  }
  .menu-text {
    right: 35px;
  }
  .encab-somos a {
    margin-left: 4px;
  }
  .menu-item-next {
    margin-left: 92px;
  }
  /* .accept-newslet input {
    margin: 10px 0;
    margin-left: 21px;
  } */
  input#email-newslet {
    margin-left: 27px;
  }
  .newslet-politica-btn button {
    font-size: 12px;
  }
  .menu-encab-completo nav {
    width: 250px;
  }
  .menu-encab-completo nav {
    padding-top: 23px;
    padding-left: 18px;
  }
  .menu-item-product {
    letter-spacing: 0px;
    font-size: 12px;
  }
  .login-register {
    width: 263px;
  }
  .login-register a {
    letter-spacing: 1px;
  }
  .btn {
    padding: 6px 7px 6px 8px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 490PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 490px) {
  .menu-text {
    right: 30px;
  }
  .encab-somos a {
    margin-left: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 479PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 479px) {
  .suscribete ul {
    position: absolute;
    width: 97%;
  }
  .menu-text {
    right: 27px;
    font-size: 11px;
  }

  .contenido h2 {
    padding-top: 45px;
    font-size: 23.5px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 465PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 465px) {
  .nav-icons {
    margin-right: 25px;
    gap: 15px;
  }
  .encab-somos a {
    padding-left: 7px;
    margin-left: 4px;
  }
  .encabezado #btn_menu {
    font-size: 25px;
    margin-left: 25px;
  }
  .menu-text {
    right: 28px;
  }
  .encab-somos a {
    padding-left: 0px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 460PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 460px) {
  .contenido h4 {
    font-size: 14px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 450PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 450px) {
  .nav-icons {
    margin-right: 60px;
  }
  input.src {
    margin-right: 15px;
  }
  .nombre-tienda {
    margin-right: 260px;
  }
  .encab-somos a {
    padding-left: 5px;
  }
  .encabezado #btn_menu {
    margin-left: 55px;
  }
  .menu-text {
    right: 25px;
  }
  .contenido h2 {
    font-size: 23px;
  }
  .newslet-politica {
    width: 80%;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 437PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 437px) {
  .menu-text {
    right: 26px;
  }
  .cyrcled-logo {
    margin-left: 25px;
  }
  input#autocomplete-input {
    width: 145px;
  }
  input.src {
    margin-right: 10px;
  }
  #autocomplete-input {
    font-size: 12px;
  }

  /* MENU DESPLEGABLE */
  .menu-encab-completo nav {
    width: 230px;
  }
  .container_menu-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu-item-product {
    font-size: 11px;
  }
  .login-register {
    width: 245px;
  }
  .btn {
    padding: 6px 3px 6px 4px;
  }
  .login-register .btn {
    font-size: 11px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 428PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 428px) {
  #header {
    height: 100px;
  }
  .flecha-arriba {
    width: 35px;
    height: 35px;
    /* right: 125px; */
  }
  .nav-icons {
    margin-right: 5px;
    gap: 18px;
  }
  .encabezado #btn_menu {
    margin-left: -30px;
    z-index: 1;
  }
  input#autocomplete-input {
    display: none;
  }
  .menu-text {
    display: none;
  }
  .input-search-appear {
    display: block;
    rotate: 90deg;
    position: absolute;
    margin-right: 265px;
    z-index: 1;
  }
  .input-search-appear a {
    font-size: 23px;
    color: var(--cyrcled);
  }
  .cyrcled-logo {
    margin-left: 200px;
    width: 110px;
  }
  .encab-somos a {
    margin-left: -10px;
  }
  /* SUSCRIBETE */
  .newslet-politica {
    font-size: 10px;
  }
  .contenido h2 {
    font-size: 22px;
  }
  .contenido {
    right: 85px;
    width: 60%;
    height: 52%;
  }
  #cerrar + label {
    right: 70px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 414px) {
  .suscribete {
    letter-spacing: 1px;
    padding: 0.8rem;
  }
  .nav-icons {
    margin-right: -20px;
  }
  .encab-somos a {
    margin-left: -15px;
  }
  .encabezado #btn_menu {
    margin-left: -45px;
  }
  .input-search-appear {
    margin-right: 280px;
  }
}
/* --------------------------------------------------------- */
/* RESPONSIVE 402PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 402px) {
  .contenido {
    height: 51%;
  }
  .accept-newslet input {
    font-size: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 397PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 397px) {
  .menu-encab-completo nav {
    height: 101vh;
  }
  .login-register {
    bottom: 20px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 394PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 394px) {
  .input-search-appear {
    margin-right: 270px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 390px) {
  .flecha-arriba {
    width: 30px;
    height: 30px;
  }
  .btn-whatsApp {
    width: 35px;
    height: 35px;
    line-height: 39px;
    font-size: 25px;
  }
  .suscribete {
    letter-spacing: 0.6px;
    font-size: 0.65rem;
  }
  .suscribete ul {
    width: 90%;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 375PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 375px) {
  .input-search-appear {
    margin-right: 255px;
  }
  .encab-somos a {
    margin-left: -13px;
    margin-top: 15px;
  }

  /* SUSCRIBETE */
  .contenido {
    height: 50%;
  }
  .contenido h2 {
    font-size: 21.5px;
  }
  .contenido h4 {
    font-size: 13px;
  }
  input#email-newslet {
    margin-left: 23px;
    height: 33px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 368PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 368px) {
  .menu-encab-completo nav {
    height: 110vh;
  }
  .login-register {
    bottom: 95px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 363PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 363px) {
  .suscribete {
    font-size: 0.6rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 360PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 360px) {
  .nav-icons a {
    font-size: 20px;
  }
  .input-search-appear {
    margin-right: 245px;
  }
  .input-search-appear a {
    font-size: 20px;
  }
  /* MENU DESPLEGABLE */
  .login-register {
    width: 230px;
  }
  .menu-encab-completo nav {
    width: 222px;
  }
  .btnseparate {
    margin: 0 5px;
  }
  .menu-encab {
    margin-top: 0px;
  }
  .container_menu-item {
    margin-right: 20px;
    margin-left: 5px;
  }
  .login-register {
    width: 237px;
  }
  .login-register-bottom a {
    padding-left: 18px;
  }

  .contenido {
    height: 47%;
    right: 75px;
    width: 70%;
  }
  .contenido h2 {
    font-size: 20px;
  }
  .contenido h4 {
    font-size: 12px;
  }
  .newslet-politica {
    width: 80%;
  }
  #cerrar + label {
    right: 58px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 338PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 338px) {
  .suscribete {
    letter-spacing: 0.2px;
  }
  .contenido {
    right: 50px;
  }
  .contenido h2 {
    font-size: 19px;
    padding-top: 42px;
  }
  #cerrar + label {
    right: 35px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 330PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 330px) {
  .flecha-arriba {
    width: 25px;
    height: 25px;
  }
  .input-search-appear {
    margin-right: 235px;
  }
  .nav-icons {
    gap: 15px;
  }
  .encab-somos a {
    margin-left: -20px;
  }
  .menu-encab-completo nav {
    width: 208px;
  }
  .login-register {
    width: 222px;
  }
  .login-register a {
    letter-spacing: 0px;
  }
  .login-register-bottom a {
    padding-left: 20px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 320PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 320px) {
  .input-search-appear {
    margin-right: 225px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 314PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 314px) {
  .nav-icons a {
    font-size: 18px;
  }
  .input-search-appear {
    margin-right: 220px;
  }
  .input-search-appear a {
    font-size: 19px;
  }
  .menu-encab-completo nav {
    width: 200px;
  }
  .login-register {
    width: 208px;
  }
  .login-register .btn {
    font-size: 10px;
  }
  .btnseparate {
    margin: 0 3px;
  }
  .btn {
    letter-spacing: 0.5px;
  }
}
