/* --------------------------------------------------------- */
/* RESPONSIVE 1920PX */
/* --------------------------------------------------------- */

@media screen and (min-width: 1920px) {
  .account-page {
    margin-top: 235px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1919PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1919px) {
  .account-page {
    margin-top: 235px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1650PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1650) {
  .formularios {
    margin-top: 40px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1330PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1330) {
  .formularios {
    margin-top: 30px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 765PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 765px) {
  .account-page {
    min-height: 31.25rem;
    max-width: 31.25rem;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 4.7rem 0.625rem;
  }
  .section-title {
    font-size: 20px;
  }
  label.form-privacity {
    font-size: 14px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 700PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 700px) {
  .account-page {
    min-height: 36.25rem;
    max-width: 36.25rem;
    margin: 2.8rem;
    margin-top: 140px;
  }
  .form-regses {
    margin-bottom: -10px;
  }
  .section-title {
    font-size: 15px;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 3.7rem 0.625rem;
    font-size: 0.75rem;
  }
  input#signup-email,
  input#signup-name,
  input#signup-apellido,
  input#signup-password {
    font-size: 12px;
  }
  .pass-explain {
    font-size: 12px;
  }
  .accept-register {
    margin-top: 10px;
    padding: 15px 10px;
  }
  label.form-privacity {
    font-size: 12px;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 4.5rem 0.625rem;
  }
  /* INICIAR SESION */
  .ini-session {
    padding-top: 15px;
  }
  .pass-remain {
    font-size: 15px;
  }
  input[type="email"],
  input[type="password"] {
    font-size: 0.75rem;
  }
  input[type="password"] {
    margin-bottom: 15px;
  }
  .ini-session-contra {
    padding-top: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 626PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 626px) {
  .account-page {
    min-height: 24.25rem;
    max-width: 24.25rem;
  }

  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2.7rem 0.625rem;
  }

  /* .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 2.7rem 0.625rem;
    font-size: 0.7rem;
  } */
  .accept-register {
    margin-top: 0px;
  }
  input.accept-register {
    font-size: 11px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 465PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 465px) {
  .account-page {
    min-height: 20.25rem;
    max-width: 20.25rem;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 2rem 0.625rem;
  }
  .ini-session-contra p {
    font-size: 13px;
  }
  input.accept-register {
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .pass-remain {
    font-size: 12px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 414px) {
  .section-title {
    font-size: 13px;
  }
  input#signup-email,
  input#signup-name,
  input#signup-apellido,
  input#signup-password {
    font-size: 11px;
  }
  .pass-explain {
    font-size: 11px;
    padding-bottom: 25px;
  }
  label.form-privacity {
    font-size: 11px;
  }
  input.accept-register {
    font-size: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 410PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 410px) {
  .toggle-menu {
    padding: 3px;
  }
  .section-title {
    font-size: 12px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 406PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 406px) {
  .toggle-menu {
    padding: 2.5px;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2.5rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2.5rem 0.625rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 398PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 398px) {
  .toggle-menu {
    padding: 2px;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2.4rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2.4rem 0.625rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 394PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 394px) {
  .section-title {
    font-size: 13px;
  }
  .toggle-menu {
    padding: 1.5px;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 2rem 0.625rem;
  }
  /* button.toggle-btn-session.toggle-btn-active form.ini-session-contra {
    padding: 0.825rem 2.3rem 0.625rem;
  } */
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 390px) {
  input.accept-register {
    letter-spacing: 0px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 380PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 380px) {
  .toggle-menu {
    padding: 1.1px;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.7rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.7rem 0.625rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 370PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 370px) {
  .toggle-menu {
    padding: 1px;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.8rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.8rem 0.625rem;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 1.5rem 0.625rem;
  }
  .ini-session-contra p {
    font-size: 11px;
  }
  /* input.accept-register {
    font-size: 8px;
  } */
}

/* --------------------------------------------------------- */
/* RESPONSIVE 361PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 361px) {
  .ini-register .name input,
  .email input {
    margin: 0px 0px 0px;
    width: 100%;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 357PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 357px) {
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 1.2rem 0.625rem;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.2rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1.2rem 0.625rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 350PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 350px) {
  input.accept-register {
    font-size: 9px;
  }
  input[value="¡ÚNETE A CYRCLED!"] {
    font-size: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 328PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 328px) {
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 1rem 0.625rem;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 1rem 0.625rem;
  }
  .pass-explain {
    font-size: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 315PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 315px) {
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.825rem 0.9rem 0.625rem;
  }
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 0.9rem 0.625rem;
  }
  button.toggle-btn-session.toggle-btn-active,
  button.toggle-btn-register.toggle-btn-active {
    padding: 0.825rem 0.9rem 0.625rem;
  }
  input.accept-register {
    font-size: 8.3px;
  }
  input[value="¡ÚNETE A CYRCLED!"] {
    font-size: 10px;
  }
}
