/* --------------------------------------------------------- */
/* RESPONSIVE 900PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 900px) {
  .cyrcled-logo-foot {
    margin-left: -7px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 795PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 795px) {
  .condiciones-politicas {
    text-align: center;
    font-size: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 765PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 765px) {
  .condiciones-politicas {
    font-size: 14px;
  }
  footer .col-md-4 {
    font-size: 14px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 690PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 690px) {
  .condiciones-politicas {
    max-width: 600px;
    text-align: center;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 610PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 610px) {
  .footer-clic {
    margin-bottom: 25px;
  }
  .condiciones-politicas {
    max-width: 575px;
    margin-top: 50px;
  }
  .separa-encab {
    margin: 0 auto;
    width: 80%;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 584PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 584px) {
  .condiciones-politicas {
    max-width: 550px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 530PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 530px) {
  .siguenos h5 {
    font-size: 17px;
  }
  .siguenos a {
    font-size: 13px;
  }
  .location-clic h5 {
    font-size: 17px;
  }
  .location-clic span {
    font-size: 15px;
  }
  .condiciones-politicas {
    max-width: 450px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 440PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 440px) {
  .siguenos h5,
  .location-clic h5 {
    font-size: 17px;
  }
  .location-clic a {
    font-size: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 428PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 428px) {
  .siguenos a {
    font-size: 13px;
  }
  .cyrcled-logo-foot {
    margin-top: 17px;
  }
  .location-clic,
  .location-clic span {
    font-size: 15px;
  }
  .condiciones-politicas {
    max-width: 412px;
  }
  .cyrcled-logo-foot {
    margin-left: 70px;
  }
  #cancelar-suscri {
    font-size: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 414px) {
  .footer-clic {
    justify-content: center;
  }
  .location-clic span {
    font-size: 14px;
  }
  .location-clic {
    margin-left: 5px;
  }
  .metodos-pago {
    margin-left: 10px;
  }
  footer {
    padding-top: 50px;
  }
  .siguenos h5,
  .location-clic h5 {
    font-size: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 390px) {
  .siguenos h5,
  .location-clic h5 {
    font-size: 15px;
  }
  .siguenos a {
    font-size: 11px;
  }
  .cyrcled-logo-foot {
    margin-top: 17px;
  }
  .location-clic,
  .location-clic span {
    font-size: 14px;
  }
  .cyrcled-logo-foot {
    width: 100px;
  }
  .condiciones-politicas {
    font-size: 13px;
  }
  footer .col-md-4 {
    text-align: center;
    font-size: 13px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 360PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 360px) {
  .footer-clic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  span.pay-icon,
  span.paypal-icon {
    font-size: 11px;
    margin-left: 2px;
  }
  .metodos-pago {
    display: flex;
    gap: 10px;
    position: absolute;
    margin-left: 0px;
  }
  .cyrcled-logo-foot {
    margin-bottom: 17px;
    margin-top: 80px;
  }
  .siguenos h5,
  .location-clic h5 {
    font-size: 13px;
  }
  .location-clic,
  .location-clic span {
    font-size: 12px;
  }
  .condiciones-politicas {
    font-size: 12px;
  }
  footer .col-md-4 {
    font-size: 11px;
  }
  .location-clic a {
    font-size: 10px;
  }
  .footer-container {
    padding-top: 70px;
  }
  .siguenos {
    padding-bottom: 30px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 345PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 345px) {
  .siguenos h5,
  .location-clic h5 {
    font-size: 13px;
  }
  .siguenos a {
    font-size: 10px;
  }
  .location-clic,
  .location-clic span {
    font-size: 11px;
  }
  .metodos-pago {
    gap: 8px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 330PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 330px) {
  .condiciones-politicas {
    max-width: 309px;
  }
  .metodos-pago {
    gap: 6px;
  }
}
