/* --------------------------------------------------------- */
/* RESPONSIVE 1125PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1125px) {
  /* SECCION ENVIOS */
  .imagen-envio img {
    width: 350px;
  }
  .envio h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .separar-envio {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1080PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1080px) {
  .imagen-envio img {
    width: 325px;
  }
  .envio h3 {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .entre24 {
    font-size: 14px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1040PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1040px) {
  .secreto-dos-heading {
    max-width: 30rem;
    font-size: 50px;
  }
  .secreto-dos-subheading {
    max-width: 24rem;
    font-size: 19px;
    letter-spacing: 0.1rem;
  }
  .banner__buttons {
    margin-left: 45px;
  }
  .button-mas {
    font-size: 16px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 1025PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 1025px) {
  .imagen-envio img {
    width: 310px;
  }
  .item {
    margin-right: 0px;
    margin-left: 8px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 960PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 960px) {
  .secreto-dos {
    padding: 85px;
  }
  .secreto-dos-heading {
    font-size: 45px;
  }
  .secreto-dos-subheading {
    max-width: 22rem;
    font-size: 17px;
  }
  .button-mas {
    font-size: 14px;
    padding: 0.6rem 1.4rem;
  }
  /* SECCION ENVIOS */
  .imagen-envio {
    flex-direction: column;
    align-items: center;
  }
  .imagen-envio img {
    width: 325px;
  }
  .titulo {
    margin-bottom: -35px;
  }
  .info-product h2 {
    font-size: 14px;
  }
  .price {
    font-size: 14px;
  }
  .corazon {
    font-size: 18px;
  }
  .info-product button {
    font-size: 11px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 870PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 870px) {
  .global-sec {
    margin-right: 50px;
    margin-left: 50px;
  }
  .price {
    font-size: 13px;
  }
  .price-rebaja {
    font-size: 15px;
  }
  .item img {
    height: 310px;
  }
  .btn-light {
    font-size: 13px;
    width: 125px;
    height: 45px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 834PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 834px) {
  .menu-partner-item {
    padding: 35px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 815PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 815px) {
  .container-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 795PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 795px) {
  .imagenes {
    height: 375px;
  }
  .secreto-dos {
    padding: 75px;
  }
  .secreto-dos-heading {
    font-size: 40px;
  }
  /* .secreto-dos-subheading {
    font-size: 15px;
  } */
  .button-mas {
    font-size: 13px;
  }
  .banner__buttons {
    margin-left: 57px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 765PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 765px) {
  .menu-partner-item {
    padding: 28px;
  }
  .nov-semana {
    font-size: 28px;
    padding: 55px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 700PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 700px) {
  .menu-partner-item {
    padding: 25px;
  }
  .card {
    font-size: 14px;
  }
  .secreto-dos {
    padding: 75px 50px;
  }
  /* .secreto-dos-heading {
    font-size: 35px;
  } */
  .secreto-dos-subheading {
    /*  font-size: 14px; */
    max-width: 20rem;
  }
  .banner__buttons {
    margin-left: 42px;
  }
  .imagenes {
    height: 400px;
  }
  .info-product button {
    font-size: 12px;
  }
  .envio h3 {
    font-size: 18px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 645PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 645px) {
  .container-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-partner {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
  }
  .nov-semana {
    padding: 50px;
  }
  .item img {
    height: 275px;
  }
  .info-product h2 {
    font-size: 16px;
  }
  span.add-cart-disappear {
    font-size: 14px;
  }
  .price-rebaja {
    font-size: 17px;
  }
  #cancelar-suscri {
    font-size: 13px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 560PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 560px) {
  .secreto-dos {
    padding: 75px 35px;
  }
  /* .secreto-dos-heading {
    font-size: 32px;
  } */
  /* .secreto-dos-subheading {
    font-size: 13px;
  } */
  .button-mas {
    font-size: 12px;
    padding: 0.6rem 1.2rem;
  }
  .banner__buttons {
    margin-left: 40px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 500PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 500px) {
  .secreto-dos {
    padding: 60px 90px;
  }
  .secreto-dos-heading {
    /* font-size: 30px; */
    text-align: center;
  }
  .secreto-dos-subheading {
    /* font-size: 12px; */
    text-align: center;
  }
  .button-mas {
    font-size: 10px;
    padding: 0.6rem 1rem;
  }
  .banner__buttons {
    margin-left: 80px;
  }
  .enterate h2 {
    font-size: 20px;
  }
  .name label,
  .email label {
    font-size: 11px;
  }
  label.container-policy {
    font-size: 13px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 465PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 465px) {
  .secreto-dos {
    padding: 77px;
  }
  .secreto-dos-subheading {
    font-size: 15px;
  }
  .banner__buttons {
    margin-left: 78px;
  }
  .item img {
    height: 260px;
  }
  .info-product button {
    gap: 5px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 440PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 440px) {
  .secreto-dos {
    padding: 40px;
    margin-top: 35px;
    margin-left: 18px;
  }
  .secreto-dos-heading {
    font-size: 35px;
  }
  .secreto-dos-subheading {
    font-size: 14px;
  }
  .banner__buttons {
    margin-left: 80px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 428PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 428px) {
  .info-product button {
    font-size: 10px;
  }
  .container-items {
    gap: 35px;
    justify-content: center;
  }
  .item {
    width: 155px;
  }
  .item img {
    height: 230px;
  }
  .info-product h2 {
    font-size: 12px;
  }
  .price {
    font-size: 11px;
  }
  .percent-discount {
    font-size: 0.5em;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 414px) {
  /* .secreto-dos-subheading {
    max-width: 15rem;
  } */
  .button-mas {
    font-size: 9px;
    padding: 0.6rem 0.8rem;
  }
  .banner__buttons {
    margin-left: 80px;
  }
  .container-items {
    gap: 25px;
  }
  .item img {
    height: 215px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 400PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 400px) {
  .cyrcled-logo {
    width: 45px;
    margin-left: -44px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 394PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 394px) {
  .container-items {
    gap: 15px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 390px) {
  /* .secreto-dos {
    padding: 75px 75px;
  } */
  /* .secreto-dos-heading {
    font-size: 28px;
  } */
  /* .secreto-dos-subheading {
    font-size: 11px;
  } */
  .banner__buttons {
    margin-left: 65px;
  }
  .container-items {
    gap: 12px;
  }
  .item img {
    height: 200px;
  }
  span.add-cart-disappear {
    display: none;
  }
  .info-product button {
    font-size: 12px;
    padding: 10px 10px;
  }
  .details-prices {
    margin-bottom: 5px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 369PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 369px) {
  .secreto-dos {
    margin-left: 10px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 361PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 361px) {
  /* .secreto-dos {
    padding: 85px 75px;
  } */
  /* .secreto-dos-heading {
    font-size: 26px;
  } */
  .secreto-dos {
    margin-left: 5px;
  }
  .button-mas {
    font-size: 8px;
    padding: 0.5rem 0.7rem;
  }
  .container-items {
    gap: 5px;
  }
  .item {
    width: 145px;
    margin-bottom: 10px;
  }
  .item img {
    height: 190px;
  }
  .info-product button {
    padding: 8px 8px;
  }
  .btn-light {
    font-size: 12px;
    width: 115px;
    height: 40px;
    padding: 13px;
  }
  .imagen-envio img {
    width: 275px;
  }
  .envio h3 {
    font-size: 14px;
    margin-top: 14px;
  }
  .entre24 {
    font-size: 11px;
  }
  .titulo {
    margin-bottom: -50px;
  }
  .enterate h2 {
    font-size: 18px;
  }
  .name input,
  .email input {
    width: 80%;
    margin: 0px 28px 14px;
  }
  .name label,
  .email label {
    padding-left: 30px;
  }
  label.container-policy {
    font-size: 12px;
    margin-left: 17px;
  }
  .form-submitBtn input[type="submit"] {
    width: 80%;
    margin: 25px 30px;
    font-size: 12px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 351PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 351px) {
  /* .secreto-dos {
    padding: 90px 70px;
  } */
}

/* --------------------------------------------------------- */
/* RESPONSIVE 341PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 341px) {
  /* .secreto-dos {
    padding: 88px 58px;
  } */
  .menu-partner-item {
    padding: 23px;
  }
  .card {
    font-size: 13px;
  }
  .banner__buttons {
    margin-left: 50px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 330PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 330px) {
  .global-sec {
    margin-right: 55px;
    margin-left: 50px;
  }
  .product-offer p {
    font-size: 0.7rem;
  }
  .item {
    width: 140px;
  }
  .item img {
    height: 185px;
  }
  .info-product {
    gap: 0px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 325PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 325px) {
  .banner__buttons {
    margin-left: 38px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 320PX */
/* --------------------------------------------------------- */

@media screen and (max-width: 320px) {
  /* .secreto-dos {
    padding: 88px 50px;
  } */
  .banner__buttons {
    margin-left: 41px;
  }
  .menu-partner-item {
    padding: 20px;
  }
  .item img {
    height: 175px;
  }
  .price-rebaja {
    font-size: 14px;
  }
}
