/* --------------------------------------------------------- */
/* RESPONSIVE 1920PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 550px;
    right: 145px;
    top: 175px;
  }
  #cerrar + label {
    right: 135px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 30px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }
  .cyrcled-logo {
    width: 160px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 555px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 390px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 35px;
    padding: inherit;
  }
  .nav-icons a {
    font-size: 30px;
  }
  .header__cart--notification {
    right: 142px;
    top: 62px;
  }
  .header__cart--notification-aboutUs {
    right: 214px;
    top: 62px;
  }
  .encab-somos {
    padding-bottom: 10px;
  }
  .encab-somos a {
    font-size: 20px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 100px;
    padding: 35px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 20px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 30px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 800px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 65%;
  }

  .login-register {
    bottom: -215px;
    height: 130px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 180px;
  }
  .footer-clic h5 {
    font-size: 30px;
  }
  .location-clic {
    font-size: 25px;
  }
  .siguenos {
    font-size: 25px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 25px;
    gap: 25px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 20px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 834PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 801px) and (max-width: 834px) {
  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 550px;
    right: 145px;
    top: 175px;
  }
  #cerrar + label {
    right: 135px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 30px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }
  .cyrcled-logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 275px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 55px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 25px;
    padding: inherit;
  }
  .nav-icons a {
    font-size: 25px;
  }
  .header__cart--notification-aboutUs {
    top: 53px;
    right: 107px;
  }
  .encab-somos {
    padding-bottom: 10px;
  }
  .encab-somos a {
    font-size: 15px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 25px;
    padding: 25px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 15px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 20px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 375px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 75%;
  }

  .login-register {
    bottom: -293px;
    height: 190px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }
  /* ABOUT US */
  .aboutUs-first {
    padding-bottom: 100px;
  }
  .aboutus-title,
  .aboutus-title-secondary {
    margin: 85px 0px 91px 0px;
    font-size: 6rem;
    line-height: 6.2rem;
  }
  .aboutus-subtitle,
  .aboutus-subtitle-secondary {
    max-width: 550px;
    font-size: 50px;
    line-height: 3.2rem;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 80px;
  }
  .footer-clic h5 {
    font-size: 20px;
  }
  .location-clic {
    font-size: 20px;
  }
  .siguenos {
    font-size: 20px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 20px;
    gap: 15px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 21px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 800PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 429px) and (max-width: 800px) {
  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 550px;
    right: 145px;
    top: 175px;
  }
  #cerrar + label {
    right: 135px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 30px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }

  .cyrcled-logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 275px;
    /* margin-left: 22px; */
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 55px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 25px;
    padding: inherit;
    /*  margin-right: 8px; */
  }
  .nav-icons a {
    font-size: 25px;
  }
  .header__cart--notification {
    right: 60px;
    top: 55px;
  }
  .encab-somos {
    padding-bottom: 10px;
    /* padding-left: 10px; */
  }
  .encab-somos a {
    font-size: 15px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 375px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 75%;
  }

  .login-register {
    bottom: -425px;
    height: 190px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }
  .header__cart--notification-aboutUs {
    top: 54px;
    right: 97px;
  }
  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 25px;
    padding: 25px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 15px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 20px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 80px;
  }
  .footer-clic h5 {
    font-size: 20px;
  }
  .location-clic {
    font-size: 20px;
  }
  .siguenos {
    font-size: 20px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 20px;
    gap: 15px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 20px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }

  /* COOKIES */
  .aviso-cookies {
    bottom: 150px;
    left: 20px;
    padding-top: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 428PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 415px) and (max-width: 428px) {
  /* FLECHA ARRIBA */
  .flecha-arriba {
    width: 30px;
    height: 30px;
    right: 15px;
  }

  /* WHATSAPP */
  .btn-whatsApp {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 0.6rem;
  }
  .encabezado {
    justify-content: inherit;
    gap: 20px;
  }
  .cyrcled-logo {
    width: 65px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  input#autocomplete-input {
    width: 155px;
    margin-left: 40px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 30px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 15px;
    padding: inherit;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification-aboutUs {
    top: 43px;
    right: 38px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 8px;
  }
  .encab-somos a {
    font-size: 10px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 20px;
    font-size: 10px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 8px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 225px;
    top: 60px;
    height: 93vh;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 10px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 50px;
  }

  .container_menu-separa {
    width: 70%;
  }

  .login-register {
    bottom: -197px;
    height: 120px;
  }
  .login-register a {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* FORM REGISTRO / INICIO SESION */
  h2.section-title {
    font-size: 17px;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.4rem 2.83rem 0.5rem;
    font-size: 0.8rem;
  }
  .account-page {
    min-height: 0rem;
  }
  .ini-session-contra {
    padding-top: 15px;
  }
  input.accept-register {
    font-size: 9px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
  }
  .footer-clic h5 {
    font-size: 17px;
  }
  .location-clic {
    font-size: 15px;
  }
  .metodos-pago {
    padding-left: 10px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 15px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */
@media only screen and (min-width: 391px) and (max-width: 414px) {
  .nav-icons {
    gap: 11px;
  }
  .header__cart--notification-aboutUs {
    top: 40px;
    right: 34px;
  }
  .login-register {
    bottom: -222px;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.7rem 2.6rem 0.5rem;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 361px) and (max-width: 390px) {
  /* ENCABEZADO */

  .suscribete {
    font-size: 0.5rem;
  }

  .cyrcled-logo {
    width: 50px;
  }

  input#autocomplete-input {
    width: 140px;
    margin-left: 22px;
  }
  input.src {
    margin-right: 22px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 10px;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification {
    right: 27px;
    top: 41px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .encab-somos a {
    font-size: 7px;
  }
  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 17px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 360PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 360px) {
  /* ENCABEZADO */
  .suscribete {
    font-size: 0.4rem;
  }
  input#autocomplete-input {
    width: 135px;
    margin-left: 30px;
  }
  input.src {
    margin-right: 22px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 9px;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification {
    right: 23px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .encab-somos a {
    font-size: 6px;
  }
  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 13px;
  }

  /* FORM REGISTRO / INICIO SESION */
  input.accept-register {
    font-size: 8px;
  }
  /* FOOTER */
  .location-clic,
  .metodos-pago {
    font-size: 13px;
  }
  .siguenos i {
    font-size: 1.3em;
  }
  .cyrcled-logo-foot {
    width: 100px;
  }
  footer .col-md-4 {
    font-size: 15px;
  }
  /* MENU HAMBURGUESA */
  .login-register {
    bottom: -135px;
  }
  .toggle-menu .toggle-btn-register,
  .toggle-btn-session {
    padding: 0.8rem 1.7rem 0.5rem;
  }
}
