/* --------------------------------------------------------- */
/* RESPONSIVE 1920PX */
/* --------------------------------------------------------- */

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  /* NEWSLETTER */
  .contenido {
    width: 35%;
    height: 550px;
    right: 615px;
    top: 175px;
  }
  #cerrar + label {
    right: 610px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 35px;
    padding-top: 25px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .email-newslet {
    margin-left: 55px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }
  .cyrcled-logo {
    width: 160px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 555px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 390px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 35px;
    padding: inherit;
  }
  .nav-icons a {
    font-size: 30px;
  }
  .header__cart--notification {
    right: 142px;
    top: 62px;
  }
  .encab-somos {
    padding-bottom: 10px;
  }
  .encab-somos a {
    font-size: 20px;
  }

  /* SLIDER DE IMAGENES AUTOMATICO: */
  .secreto-dos {
    font-size: 55px;
    padding-left: 75px;
    padding-top: 55px;
  }
  .secreto-dos-heading {
    font-size: 60px;
    max-width: 30rem;
    text-align: center;
  }
  .secreto-dos-subheading {
    font-size: 30px;
    max-width: 30rem;
    margin-top: 2rem;
    text-align: center;
  }
  .button-mas {
    font-size: 20px;
    padding: 1.3rem 2.1rem;
  }
  .banner__buttons {
    margin-left: 90px;
    margin-top: 15px;
  }
  .imagenes {
    height: 535px;
  }
  #carrusel-caja {
    height: 280px;
  }

  /* PARTNERS */
  .menu-partner-item {
    padding: 60px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 100px;
    padding: 35px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 20px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 30px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 800px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 65%;
  }

  .login-register {
    bottom: -215px;
    height: 130px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* GRUPO DE PRODUCTOS (NOVEDADES) */
  .nov-semana {
    font-size: 40px;
    padding: 50px;
  }
  .product-offer p {
    font-size: 0.95rem;
    height: 1.6rem;
  }
  .container-items {
    gap: 25px;
    margin-bottom: 26px;
  }
  .item {
    width: 305px;
    margin: 0 auto;
  }
  .item figure {
    height: 65%;
  }
  .item img {
    height: 320px;
  }

  .info-product button {
    gap: 20px;
  }
  .info-product h2 {
    font-size: 20px;
  }
  .add-cart {
    font-size: 17px;
    /* margin-bottom: 6px; */
  }
  .info-product {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 20px;
  }
  .corazon {
    padding-bottom: 45px;
  }

  /* SECCION ENVIOS */
  .imagen-envio {
    gap: 50px;
    margin: 120px;
  }
  .imagen-envio img {
    width: 490px;
  }
  .titulo {
    height: 250px;
  }
  .envio {
    margin-top: 0px;
  }
  .envio h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .separar-envio {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .entre24 {
    font-size: 20px;
  }

  /* FORM SUSCRIPCIÓN */
  .enterate h2 {
    font-size: 27px;
    padding-top: 70px;
  }
  .name label,
  .email label {
    font-size: 20px;
  }
  label.container-policy {
    font-size: 20px;
  }
  .form-submitBtn input {
    font-size: 17px;
  }
  #cancelar-suscri {
    font-size: 15px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 180px;
  }
  .footer-clic h5 {
    font-size: 30px;
  }
  .location-clic {
    font-size: 25px;
  }
  .siguenos {
    font-size: 25px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 25px;
    gap: 25px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 20px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }

  /* COOKIES */
  .aviso-cookies {
    bottom: 150px;
    left: 20px;
    padding-top: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 834PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 834px) {
  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 550px;
    right: 145px;
    top: 175px;
  }
  #cerrar + label {
    right: 135px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 30px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }
  .cyrcled-logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 275px;
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 55px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 25px;
    padding: inherit;
  }
  .nav-icons a {
    font-size: 25px;
  }
  .header__cart--notification {
    right: 62px;
    top: 60px;
  }
  .encab-somos {
    padding-bottom: 10px;
  }
  .encab-somos a {
    font-size: 15px;
  }

  /* SLIDER DE IMAGENES AUTOMATICO: */
  .secreto-dos {
    font-size: 45px;
    padding-left: 35px;
    padding-top: 20px;
  }
  .secreto-dos-heading {
    font-size: 50px;
    max-width: 18rem;
    text-align: center;
  }
  .secreto-dos-subheading {
    font-size: 20px;
    max-width: 18rem;
    margin-top: 2rem;
    text-align: center;
  }
  .button-mas {
    font-size: 20px;
    padding: 0.8rem 2.1rem;
  }
  .banner__buttons {
    margin-left: 0px;
    margin-top: 15px;
  }
  .imagenes {
    height: 425px;
  }
  #carrusel-caja {
    height: 280px;
  }

  /* PARTNERS */
  .menu-partner-item {
    padding: 29px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 25px;
    padding: 25px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 15px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 20px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 375px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 75%;
  }

  .login-register {
    bottom: -293px;
    height: 190px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* GRUPO DE PRODUCTOS (NOVEDADES) */
  .nov-semana {
    font-size: 40px;
    padding: 50px;
  }
  .product-offer p {
    font-size: 0.95rem;
    height: 1.6rem;
  }
  .container-items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .item {
    width: 265px;
    margin: 0 auto;
  }
  .item figure {
    height: 65%;
  }
  .item img {
    height: 270px;
  }

  .info-product button {
    gap: 20px;
  }
  .info-product h2 {
    font-size: 20px;
  }
  .add-cart {
    font-size: 17px;
    /* margin-bottom: 6px; */
  }
  .info-product {
    padding-top: 0px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .corazon {
    padding-bottom: 45px;
  }

  /* SECCION ENVIOS */
  .imagen-envio {
    flex-direction: column;
    align-items: center;
  }
  .imagen-envio img {
    width: 450px;
  }
  .titulo {
    height: 250px;
  }
  .envio {
    margin-top: 0px;
  }
  .envio h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .separar-envio {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .entre24 {
    font-size: 20px;
  }

  /* FORM SUSCRIPCIÓN */
  .enterate h2 {
    font-size: 27px;
  }
  .name label,
  .email label {
    font-size: 20px;
  }
  label.container-policy {
    font-size: 20px;
  }
  .form-submitBtn input {
    font-size: 17px;
  }
  #cancelar-suscri {
    font-size: 15px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 80px;
  }
  .footer-clic h5 {
    font-size: 20px;
  }
  .location-clic {
    font-size: 20px;
  }
  .siguenos {
    font-size: 20px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 20px;
    gap: 15px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 20px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }

  /* COOKIES */
  .aviso-cookies {
    bottom: 150px;
    left: 20px;
    padding-top: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 800PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 550px;
    right: 145px;
    top: 175px;
  }
  #cerrar + label {
    right: 135px;
    top: 178px;
  }
  .contenido h2 {
    font-size: 30px;
  }
  .contenido h4 {
    font-size: 15px;
    padding-top: 20px;
  }
  input#email-newslet {
    height: 50px;
    width: 80%;
    font-size: 15px;
    margin-left: 30px;
  }
  .accept-newslet input {
    font-size: 15px;
    height: 45px;
    width: 60%;
    margin-top: 20px;
  }
  .newslet-politica {
    font-size: 14px;
    padding-top: 30px;
  }
  .newslet-politica-btn button {
    padding-top: 50px;
    font-size: 15px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 1rem;
    height: 2.4em;
  }
  /* .encabezado {
    justify-content: inherit;
    margin-bottom: 25px;
  } */
  .cyrcled-logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  input#autocomplete-input {
    width: 275px;
    /* margin-left: 22px; */
  }
  input[type="text"] {
    padding: 10px;
  }
  input.src {
    margin-right: 55px;
    font-size: 15px;
  }
  .nav-icons {
    gap: 25px;
    padding: inherit;
    /*  margin-right: 8px; */
  }
  .nav-icons a {
    font-size: 25px;
  }
  .header__cart--notification {
    right: 60px;
    top: 55px;
  }
  .encab-somos {
    padding-bottom: 10px;
    /* padding-left: 10px; */
  }
  .encab-somos a {
    font-size: 15px;
  }

  /* SLIDER DE IMAGENES AUTOMATICO: */
  .secreto-dos {
    font-size: 45px;
    padding-left: 35px;
    padding-top: 20px;
  }
  .secreto-dos-heading {
    font-size: 50px;
    max-width: 18rem;
    text-align: center;
  }
  .secreto-dos-subheading {
    font-size: 20px;
    max-width: 18rem;
    margin-top: 2rem;
    text-align: center;
  }
  .button-mas {
    font-size: 20px;
    padding: 0.8rem 2.1rem;
  }
  .banner__buttons {
    margin-left: 0px;
    margin-top: 15px;
  }
  .imagenes {
    height: 425px;
  }
  #carrusel-caja {
    height: 280px;
  }

  /* PARTNERS */
  .menu-partner-item {
    padding: 29px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 25px;
    padding: 25px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 15px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 20px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 375px;
    top: 60px;
    height: 100vh;
  }
  .container_menu-total {
    margin-top: 60px;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 20px;
    margin: 35px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 75px;
  }

  .container_menu-separa {
    width: 75%;
  }

  .login-register {
    bottom: -425px;
    height: 190px;
  }
  .login-register a {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* GRUPO DE PRODUCTOS (NOVEDADES) */
  .nov-semana {
    font-size: 40px;
    padding: 50px;
  }
  .product-offer p {
    font-size: 0.95rem;
    height: 1.6rem;
  }
  .container-items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .item {
    width: 265px;
    margin: 0 auto;
  }
  .item figure {
    height: 65%;
  }
  .item img {
    height: 270px;
  }

  .info-product button {
    gap: 20px;
  }
  .info-product h2 {
    font-size: 20px;
  }
  .add-cart {
    font-size: 17px;
    /* margin-bottom: 6px; */
  }
  .info-product {
    padding-top: 0px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .corazon {
    padding-bottom: 45px;
  }

  /* SECCION ENVIOS */
  .imagen-envio {
    flex-direction: column;
    align-items: center;
  }
  .imagen-envio img {
    width: 450px;
  }
  .titulo {
    height: 250px;
  }
  .envio {
    margin-top: 0px;
  }
  .envio h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .separar-envio {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .entre24 {
    font-size: 20px;
  }

  /* FORM SUSCRIPCIÓN */
  .enterate h2 {
    font-size: 27px;
  }
  .name label,
  .email label {
    font-size: 20px;
  }
  label.container-policy {
    font-size: 20px;
  }
  .form-submitBtn input {
    font-size: 17px;
  }
  #cancelar-suscri {
    font-size: 15px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
    gap: 80px;
  }
  .footer-clic h5 {
    font-size: 20px;
  }
  .location-clic {
    font-size: 20px;
  }
  .siguenos {
    font-size: 20px;
  }
  .metodos-pago {
    padding-left: 10px;
    font-size: 20px;
    gap: 15px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 20px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
    font-size: 23px;
  }

  /* COOKIES */
  .aviso-cookies {
    bottom: 150px;
    left: 20px;
    padding-top: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 428PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 428px) {
  /* FLECHA ARRIBA */
  .flecha-arriba {
    width: 30px;
    height: 30px;
    right: 15px;
  }

  /* WHATSAPP */
  .btn-whatsApp {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    z-index: 2;
  }

  /* NEWSLETTER */
  .contenido {
    width: 65%;
    height: 350px;
    right: 70px;
    top: 100px;
  }
  #cerrar + label {
    right: 55px;
  }
  .contenido h2 {
    font-size: 15px;
  }
  .contenido h4 {
    font-size: 9px;
  }
  input#email-newslet {
    height: 35px;
    width: 85%;
    font-size: 10px;
  }
  .accept-newslet input {
    font-size: 10px;
    height: 40px;
    width: 60%;
  }
  .newslet-politica-btn button {
    padding-top: 13px;
  }

  /* ENCABEZADO */
  .suscribete {
    font-size: 0.6rem;
  }
  .encabezado {
    justify-content: inherit;
  }
  .cyrcled-logo {
    width: 65px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  input#autocomplete-input {
    width: 155px;
    margin-left: 22px;
  }
  input[type="text"] {
    padding: 7px;
  }
  input.src {
    margin-right: 22px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 8px;
    padding: inherit;
    margin-right: 8px;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification {
    right: 22px;
    top: 41px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .encab-somos a {
    font-size: 10px;
  }

  /* SLIDER DE IMAGENES AUTOMATICO: */
  .secreto-dos {
    font-size: 45px;
    padding: 20px;
  }
  .secreto-dos-heading {
    font-size: 19px;
    max-width: 9rem;
    text-align: center;
  }
  .secreto-dos-subheading {
    font-size: 12px;
    max-width: 9rem;
    margin-top: 1rem;
    text-align: center;
  }
  .button-mas {
    font-size: 10px;
    padding: 0.4rem 1.1rem;
  }
  .banner__buttons {
    margin-left: 0px;
  }
  .imagenes {
    height: 530px;
  }
  #carrusel-caja {
    height: 280px;
  }

  /* PARTNERS */
  .menu-partner-item {
    padding: 17px;
  }

  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 25px;
    font-size: 10px;
  }
  .card {
    margin-bottom: 0rem;
    font-size: 8px;
  }

  /* MENU HAMBURGUESA */
  .container_menu {
    width: 225px;
    top: 60px;
    height: 93vh;
  }
  .container_menu-item {
    padding-left: 0px;
    font-size: 10px;
  }
  .menu-item-product img {
    margin-right: 10px;
  }
  .menu-item-next {
    margin-left: 50px;
  }

  .container_menu-separa {
    width: 70%;
  }

  .login-register {
    bottom: -280px;
    height: 120px;
  }
  .login-register a {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .header__cart--notification-oculto {
    top: 15px;
  }

  /* GRUPO DE PRODUCTOS (NOVEDADES) */
  .nov-semana {
    font-size: 20px;
    padding: 30px;
  }
  .container-items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .item {
    margin-left: 0px;
    margin-right: 0px;
    width: 155px;
    /* height: 80%; */
  }
  .item figure {
    height: 70%;
  }
  .item img {
    height: 260px;
  }
  .info-product button {
    gap: 7px;
  }
  .info-product h2 {
    font-size: 11px;
  }
  .add-cart {
    font-size: 11px;
    /* margin-bottom: 6px; */
  }
  .info-product {
    padding-top: 0px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* SECCION ENVIOS */
  .imagen-envio {
    flex-direction: column;
    align-items: center;
  }
  .imagen-envio img {
    width: 350px;
  }
  .titulo {
    height: 186px;
  }
  .envio {
    margin-top: 10px;
  }

  /* FOOTER */
  .footer-clic {
    justify-content: center;
    padding: 10px;
  }
  .footer-clic h5 {
    font-size: 17px;
  }
  .location-clic {
    font-size: 15px;
  }
  .metodos-pago {
    padding-left: 10px;
  }

  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer_bottom {
    text-align: center;
  }
  .condiciones-politicas {
    font-size: 15px;
  }
  footer .col-md-4 {
    padding-top: 45px;
    text-align: center;
  }

  /* COOKIES */
  .aviso-cookies {
    bottom: 150px;
    left: 20px;
    padding-top: 65px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 414PX */
/* --------------------------------------------------------- */
@media only screen and (max-width: 414px) {
  .menu-encab li {
    padding-left: 20px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 6px;
  }
  .encab-somos a {
    font-size: 8px;
  }
  .header__cart--notification {
    right: 28px;
  }
  .login-register {
    bottom: -222px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 390PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 390px) {
  /* ENCABEZADO */
  .suscribete {
    font-size: 0.5rem;
  }

  .cyrcled-logo {
    width: 55px;
    margin-left: 6px;
  }
  input#autocomplete-input {
    width: 155px;
    margin-left: 22px;
  }
  input.src {
    margin-right: 22px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 5px;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification {
    right: 27px;
    top: 41px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .encab-somos a {
    font-size: 7px;
  }
  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 17px;
  }

  .login-register {
    bottom: -197px;
    height: 120px;
  }
}

/* --------------------------------------------------------- */
/* RESPONSIVE 360PX */
/* --------------------------------------------------------- */

@media only screen and (max-width: 360px) {
  /* ENCABEZADO */
  .suscribete {
    font-size: 0.4rem;
  }

  input#autocomplete-input {
    width: 135px;
    margin-left: 20px;
  }
  input.src {
    margin-right: 22px;
    font-size: 11px;
  }
  .nav-icons {
    gap: 6px;
  }
  .nav-icons a {
    font-size: 15px;
  }
  .header__cart--notification {
    right: 23px;
  }
  .encab-somos {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .encab-somos a {
    font-size: 6px;
  }
  /* MENU SECCIONES */
  .menu-encab {
    margin-top: 0px;
    gap: 7px;
  }
  .menu-encab li {
    padding-left: 13px;
  }

  /* PARTNERS */
  .menu-partner-item {
    padding: 14px;
  }
  /* FOOTER */
  .location-clic,
  .metodos-pago {
    font-size: 13px;
  }
  .siguenos i {
    font-size: 1.3em;
  }
  .cyrcled-logo-foot {
    width: 100px;
  }
  footer .col-md-4 {
    font-size: 15px;
  }
  /* MENU HAMBURGUESA */
  .login-register {
    bottom: -135px;
  }
}
